<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status === 'success'">
        Resgitro completado correctamente, <a [routerLink]="['/login']">identificate aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status === 'error'">
        El registro no ha podido completarse, quiza tu email o nickname ya este en uso
        intentalo de nuevo con otros datos.
    </div>

    <form #registerForm='ngForm' (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label for="">Nombre</label>
            <input 
            type="text"
            name="name" 
            #name="ngModel"
            [(ngModel)]="user.name"
            class="form-control"
            required
            />
            <span *ngIf = "!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label for="">Apellido</label>
            <input 
                type="text"
                name="surname" 
                #surname="ngModel"
                [(ngModel)]="user.surname"
                class="form-control"
                required
            />
            <span *ngIf = "!surname.valid && surname.touched">
                El Apellido es obligatorio
            </span>
        </p>
        <p>
            <label for="">Apodo</label>
            <input 
                type="text"
                name="nick" 
                #nick="ngModel"
                [(ngModel)]="user.nick"
                class="form-control"
                required
            />
            <span *ngIf = "!nick.valid && nick.touched">
                   El apodo es obligatorio
            </span>
        </p>
        <p>
            <label for="">Correo electronico</label>
            <input 
                type="email"
                name="email" 
                #email="ngModel"
                [(ngModel)]="user.email"
                class="form-control"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
            <span *ngIf = "!email.valid && email.touched">
                 El correo no es correcto
            </span>
        </p>
        <p>
            <label for="">Password</label>
            <input 
                type="password"
                name="password" 
                #password="ngModel"
                [(ngModel)]="user.password"
                class="form-control"
                required
            />
            <span *ngIf = "!password.valid && password.touched">
                El password es obligatorio
            </span>
        </p>
        <input
         type="submit"
         value="{{title}}"
         class="btn btn-success"
         [disabled]="!registerForm.form.valid"
         />
    </form>
</div>
