
/*Generales*/
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
/*Cabecera*/
.navigation{
    padding: 0px !important;
    border-radius: 0px !important;
    background: #a09dc5;
    color: #1b1b1f !important;
}
.navbar{
    border-radius: 0px !important;
    border-radius: 0px !important;
    background: #a09dc5;
    color: #1b1b1f !important;
}


