<div class ="navigation col-lg-12">
    <nav class ="navbar navbar-default">
      <div class ="container-fluid">

        <div class ="nav navbar-header">
          <a href="#" class="navbar-brand">{{title}}</a>
        </div>
        <br>

        <ul>
          <li>
            <a href="">
              Inicio
            </a>
          </li>

          <li>
              <a href="">
                Timeline
              </a>
          </li>
          <li>
              <a href="">
               Gente
              </a>
          </li>
         

        </ul>

      </div>
    </nav>
</div>
<!--
  Estiqueta que carga los componentes segun la ruta especificada
  en el routin module:
-->
<router-outlet></router-outlet>