<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>
   
    

    <form #loginForm='ngForm' (ngSubmit)="onSubmit()" class="col-lg-12">
       
        <p>
            <label for="">Correo electronico</label>
            <input 
                type="email"
                name="email" 
                #email="ngModel"
                [(ngModel)]="user.email"
                class="form-control"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
            <span *ngIf = "!email.valid && email.touched">
                 El correo no es correcto
            </span>
        </p>      
        <p>
            <label for="">Password</label>
            <input 
                type="password"
                name="password" 
                #password="ngModel"
                [(ngModel)]="user.password"
                class="form-control"
                required
            />
            <span *ngIf = "!password.valid && password.touched">
                El password es obligatorio
            </span>
        </p>
        <input
         type="submit"
         value="{{title}}"
         class="btn btn-success"
         [disabled]="!loginForm.form.valid"
         />
    </form>
</div>
